:root{
    --primary:rgb(246, 234, 219);
    --dark: rgb(251, 105, 0);
    --light:#fff;
    --shadow:0 1px 5px rgb(231, 191, 73);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Franklin Gothic Medium;
    width: 1140px;
}

/* Navigation bar */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.nav-head{
    margin-left: 10rem;
}

.nav_list_container{
    margin:0 1rem 0 0;
}

.nav-list > li{
    list-style: none;
    padding: 0 1rem;
    opacity: 0.5;
}

.valign-wrapper{
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.nav__img{
    height: 2rem;
    margin: 0 0.8rem;
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/*Section 1*/
.photo{
    margin: 0 0 0 15rem;
}

.photo-list-shoe{
    display: flex;
    justify-content: space-around;
}

.photo-main{
    height: 400px;
    border-radius: 1rem;
}

.photo-list-shoe > li{
    height: 100px;
    list-style: none;
    margin-top: 1rem;
}

.photo__shoe{
    height: 80px;
    border-radius: 0.7rem;
}

/*Section 2*/
.company{
    width: 400px;
    margin: 0 5rem;

}

.company__name{
    letter-spacing: 0.1rem;
    color: var(--dark);
    font-size: 0.7rem;
}

.company__bigtext{
    font-size: 2.5rem;
    margin-top: 0.6rem;
}

.company__smalltext{
    font-family: serif;
    font-size: 1rem;
    opacity: 0.6;
    margin: 1.5rem 0;
}

.amount{
    display: flex;
    align-items: center;
}

.amount__big{
    font-size: 1.6rem;
    font-weight: 800;
}

.discount{
    color: var(--dark);
    margin-left: 1.5rem;
    border: 1px solid rgb(252, 232, 195);
    border-radius: 0.2rem;
    background-color: rgb(236, 228, 212);
    font-weight: 600;

}

.amount__original{
    opacity: 0.4;
    text-decoration: line-through;
    margin-top: 0.2rem;
}

/* button */

.btn{
    position: relative;
    margin-top: 1.5rem;
}

.btn__num{
    width: 6rem;
    height: 2rem;
    border: none;
    margin-right: 1rem;
    border-radius: 0.3rem;
}

.btn__increment{
    position: absolute;
    border: none;
    color: var(--dark);
    transform: translate(-39px, 6px);
    font-size: 1.2rem;
}
.btn__decrement{
    position: relative;
    border: none;
    color: var(--dark);
    transform: translate(18px, 2px);
    font-size: 1.5rem;
}

.btn__cart{
    background: var(--dark);
    color: var(--primary);
    width: 12rem;
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
}

i{
    margin-right: 1rem;
}